<!DOCTYPE html>

<html>
    <head>
        <title>Shrink URL by CloudBees</title>
        <meta charset="utf-8">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="Shortcut Icon" type="image/ico" href="http://web-static-cloudfront.s3.amazonaws.com/images/favicon.png"/> 
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>          
    </head>
    <body>
        #{doLayout /}
        <div class="footer">Brought to you by the busy:</div>
        <a href="http://www.cloudbees.com"/><img src="http://web-static-cloudfront.s3.amazonaws.com/images/cloudbees_logo.png"/></a>
    </body>
</html>
